

.logo {
    font-family: 'Arial Black', sans-serif; 
    font-size: 24px;                        
    font-weight: 900;    
    font-style: oblique;                   
    color: #010816;                       
    text-transform: uppercase;              
    letter-spacing: 5px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    z-index: 1000;
    border-bottom: 1px solid #eee;
}

.nav-links {
    display: flex;
    gap: 30px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #333333;
    font-weight: bold;
    transition: 0.6s ease-in-out;
}
.join-btn {
    padding: 18px 35px;
    border-style: solid;
    border-color: #010816;
    border-width: 2px;
    border-radius: 10px; 
    background-color: #010816;
    color: #ffffff !important; 
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8rem;
    transition: 0.2s ease-in-out;
}

.join-btn:hover {
    background: #ffffff ;
    color: #010816 !important;
    transform: translateY(-3px);
}

.hero {
    height: 93.64vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./images/riviera.JPG") center/cover;
    margin-top: 60px;
    transition: 0.6s ease-in-out;
    cursor: pointer;
}
.hero::before {
    position: absolute;
    content: "COMING SOON";
    top: 100px;
    left: 50px;
    background: red;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}
.hero h1 {
    font-size: 8vw;
    color: #ffffff;
    text-align: center;
    transition: 0.6s ease-in-out;
}
.hero:hover h1 {
    transform: scale(1.1);
}
.events-container {
    padding: 80px 10%;
}

.events-heading {
    font-size: 3rem;
    margin-bottom: 40px;
    border-bottom: 4px solid #0a0a0a;
    width: fit-content;
}
.events-heading::first-letter {
    font-size: 150%;
    color: #0062a3;
}
#events::after {
    content: " 2026";
    font-size: 1rem;
    vertical-align: middle;

}
.bento-grid {
    display: grid;
    grid-template-columns: 508px 508px 508px ;
    grid-template-rows: 500px;
    gap: 20px;
    margin-bottom: 50px;
    margin-right: 150px;
}

.item {
    background: #222;
    color:  white;
    border-radius: 15px;
    display: flex;
    padding: 20px;
    background-size: cover;
    transition: 0.4s;
}



.proshow {
    background-image: url(./images/proshow.JPG);
}

.sport {
    background-image: url(./images/sports.JPG);}

.expo {
    background-image: url(./images/Expo.png);}
.item:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.post-row {
    display: flex;
    gap: 20px;
    perspective: 1000px;
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: bold;
}

.card-front {
    color: aliceblue;
    background: #292828;
    border: 2px solid #ccc;
}

.card-back {
    background: #0a0a0a;
    color: white;
    transform: rotateY(180deg);
    text-align: center;
    padding: 10px;
}

.music-fest {
    background-size: cover;
    background-image: url("./images/music.JPG") 
}
.cultural {
    background-size: cover;
    background-image: url("./images/culture.JPG") 
}

.marathon{
    background-size: cover;
    background-image: url("./images/marathon.JPG") 

}
.flip-card {
    width: 200px;
    height: 250px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    cursor: pointer;
}

.flip-card:hover {
    transform: rotateY(180deg);
}